---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
    firstName: "Franz",
    country: "Redacted",
    occupation: "Redacted",
    hobbies: ["music", "everything pc related"],
};

const skills = ["HTML", "CSS", "JavaScript/ TypeScript", "Astro", "Writing Docs (cap)", "Java", "Python", "Kotlin"]

const skillColor = "white";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>

    <style define:vars={{skillColor, fontWeight, textCase}}>
        h1 {
            color: purple;
            font-size: 4rem;
        }

        .skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
        }
    </style>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
                <li>I have too many hobbies so here are two: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        }
    </ul>
    <p>My dev skills are:</p>
    <ul>
        {skills.map((skill) =>
                <li class="skill">wannabe at {skill}</li>)}
    </ul>
</BaseLayout>
